<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.uzytkownik.techonologieaplikacjiserwerowych" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ikona"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".Logowanie"
                android:label="Technologie Aplikacji Serwerowych"
                android:launchMode="singleInstance">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".Zalogowany"
            android:label="Technologie Aplikacji Serwerowych"
            android:launchMode="singleInstance">

        </activity>

        <activity
            android:name=".Kompletuj_zamowienie"
            android:label="Technologie Aplikacji Serwerowych"
            android:launchMode="singleInstance">
        </activity>

        <activity
            android:name=".Stan_magazynu"
            android:label="Technologie Aplikacji Serwerowych"
            android:launchMode="singleInstance">
        </activity>

        <activity
        android:name=".Magazyn"
        android:label="Technologie Aplikacji Serwerowych"
        android:launchMode="singleInstance">
    </activity>
    </application>

</manifest>