<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--	<link rel="stylesheet" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">-->

	<title>Rabat na klienta</title>

</head>

<body>

	<div class="container col-md-9" ng-controller="DiscountController as discount">
        <div class="col-md-12">
        <div class="row col-md-10">
        <h1 class="pull-left">Rabat na klienta</h1> <a href="#/Rabaty/Rabat%20na%20klienta/Nowy" class="btn btn-primary btn-md pull-right">Dodaj nowy</a>
        </div>
<!--                <p>{{test}}</p>-->
            
        </div>
                <div class="discountBody" ng-init="modelNamesForBodiesClient">
                   <table class="table table-livePrieview">
                    <tr>
                        <th ng-repeat="body in bodiesDisplayClient">{{body}}</th>
                    </tr>
                    <tr>
                        <td ng-repeat="body in bodiesDisplayClient">
                            <h5>{{discount.modelNamesForBodiesClient[$index]}}</h5>
                        </td>
                    </tr>
                </table>
        </div>
                
        </div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>

	<script>
	</script>

</body>

</html>
