<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.5/yeti/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="../styles/styles.css">

	<title>Minimum Bootstrap HTML Skeleton</title>

</head>

<body>

	<div class="container vcenter">
       <div class="row col-md-4 col-md-offset-4">
           <h1>Panel Logowania</h1>
           <form>
                <div class="form-group row">
                  <label for="inputLogin">Login:</label>
                   <div class="col-md-12">
                       <input class="form-control" type="text" id="inputLogin">
                   </div>
                </div>
                <div class="form-group row">
                  <label for="inputPassword">Password:</label>
                   <div class="col-md-12">
                       <input class="form-control" type="password" id="inputPassword">
                   </div>
                </div>
                <button type="submit" class="btn btn-primary">Zaloguj</button>
           </form>
       </div>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>

	<script>
	</script>

</body>

</html>
