<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--	<link rel="stylesheet" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">-->

	<title>Rabaty</title>

</head>

<body>

	<div class="container col-md-9">
        <h1>Rabaty</h1>
        <div class="vcenter">
            <div class="col-md-4 text-center"><a href="#/Rabaty/Rabat%20czasowy" class="btn btn-primary btn-lg">Rabat czasowy</a></div>
            <div class="col-md-4 text-center"><a href="#/Rabaty/Rabat%20na%20klienta" class="btn btn-primary btn-lg">Rabat na klienta</a></div>
            <div class="col-md-4 text-center"><a href="#/Rabaty/Rabat%20na%20materia%C5%82" class="btn btn-primary btn-lg">Rabat na materiał</a></div>
        </div>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>

	<script>
	</script>

</body>

</html>
