<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wyświetl zlecenia</title>
</head>

<body>

    <div class="container col-md-9" ng-controller="OrderController as order">
        <div class="col-md-7">
        <h1>Wyświetl zlecenia: </h1>
        <!--        <h5>{{test}}</h5>-->
            <div class="orderHeader">
<!--
                <div ng-repeat="body in bodiesDisplay">
                <h5>{{body}}</h5>
                <div ng-repeat="order in orders track by $index" ng-init="position = order.positions[$index]">
                            <td>{{position.id}}</td>
                            <td>{{position.material}}</td>
                            <td>{{position.amount}}</td>
                            <td>{{position.price}}</td>
                            <td>BRAK</td>
                            <td>BRAK</td>
                </div>
                </div>
                
-->

<!--
              <tr ng-repeat-start="body in bodiesDisplay track by $index">
                  <td>{{body}}</td>
              </tr>
              <tr ng-repeat-end>
                  <td><div ng-repeat="order in orders track by $index" ng-init="init($index)"> <td>{{position.id}}</td><td>{{position.amount}}</td></div>
                  </td>
              </tr>
              <
-->
    <div ng-repeat="order in orders track by $index" ng-init="init($index)">
                    <h5>Id: {{position.id}}</h5>
                    <h5>Ilość : {{position.amount}}</h5>
                    <h5>Materiał: {{position.material}}</h5>
                    <h5>Id materiału: {{position.materialId}}</h5>
                    <h5>Cena: {{position.price}}</h5>
        </div>

            </div>
        </div>
                <div class="orderBody">
                   <table class="table table-hover table-livePrieview">
                    <tr>
                        <th ng-repeat="header in headersDisplay">{{header}}</th>
                    </tr>
                    <tr ng-repeat="order in orders track by $index">
                            <td>{{order.id}}</td>
                            <td>{{order.clientId}}</td>
                            <td>{{order.sellerId}}</td>
                            <td>{{order.status}}</td>
                            <td>{{order.orderPrice}}</td>
                            <td>{{order.creationDate | date}}</td>
                            <td>{{order.creator}}</td>
                    </tr>
                </table>
        </div>
                
        </div>
<!--        //koniec containera-->
	
	
	
	
<!--SKRYPTY-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>

</html>
