<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dodaj pozycję do magazynu: </title>
</head>

<body>

    <div class="container col-md-9" ng-controller="WarehouseController as wh">
        <div class="col-md-7">
        <h1>Dodaj pozycję do magazynu: </h1>
                <div class="warehouseBody" ng-init="modelNamesForBodies">
                   <table class="table table-livePrieview">
                    <tr>
                        <th ng-repeat="body in bodies">{{body}}</th>
                    </tr>
                    <tr>
                        <td ng-repeat="body in bodies">
                            <h5>{{wh.modelNamesForBodies[$index]}}</h5>
                        </td>
                    </tr>
                </table>
                
                <table class="table">
                    <tr>
                    <th ng-repeat="body in bodies">{{body}}</th>
                    </tr>
                    
                    <tr>
                        <td ng-repeat="body in bodies">
                            <textarea ng-model="wh.modelNamesForBodies[$index]"class="form-control" type="text" id="input{{modelNamesForBodies[$index]}}">
                            </textarea>
                        </td>
                    </tr>

                </table>
                <form ng-submit="sendPost()">
<!--                <input ng-model="newName"/>-->
                <button type="submit">Send</button>
                </form>
        </div>
                
        </div>
    </div>
<!--        //koniec containera-->
	
	
	
	
<!--SKRYPTY-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>

</html>
